{% extends "adminpanel/base.html" %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}

<div class="row justify-content-center px-2">
    <div class="col-12">
        <h2 class="mb-3 mt-0">Connexion</h2>
        {% if form.errors %}
        <div class="alert alert-secondary container text-center alert-dismissible fade show mb-4" role="alert">
            <strong>Nom et mot de passe non reconnus. Veuillez réessayer.</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <div class="alert alert-secondary container text-center alert-dismissible fade show mb-4" role="alert">
            <strong>Vous n'avez pas les droits pour accéder à cette page.</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endif %}
        {% endif %}

        <div class="row justify-content-center px-2">
            <div class="card container p-4">
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="bmd-label-floating">{{ form.username.label_tag }}</label>
                            <input type="text" class="form-control text-center" name="username" autofocus="" required="" id="id_username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="bmd-label-floating">{{ form.password.label_tag }}</label>
                            <input class="form-control text-center" aria-describedby="basic-addon3"  type="password" name="password" required="" id="id_password">
                        </div>

                        <div class="d-flex justify-content-end mt-4">
                            <button type="submit" value="login" class="btn btn-sm btn-raised btn-success">Se connecter</button>
                        </div>

                        <input type="hidden" name="next" value="{{ next }}">
                    </form>

                    {# Assumes you setup the password_reset view in your URLconf #}
                    <div class="d-flex justify-content-end">
                        <p><a role="button" class="btn btn-sm btn-raised btn-secondary" href="{% url 'password_reset' %}">Mot de passe oublié?</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = 30;
    // var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
