{% extends "admin/base.html" %}

{% block title %}FabAccess{% endblock %}

{% block branding %}<div>
<h1 id="site-name" style="color: white"><a   style="color: white" href="{% url 'admin:index' %}">FabAccess panneau secret</a></h1></div>
{% endblock %}

{% block nav-global %}{% endblock %}
