* {
    font-family: 'Open Sans Condensed';
    box-sizing: border-box;
}

/* Top bar menu */

.top-bar {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 75px;
}
.top-bar-bg {
    background-color: #65b5c3;
}
.top-bar-text {
    color: #f6f6f6 !important;
}
.top-bar-text:hover {
    text-decoration: none;
    color: greenyellow !important;
}

.nav-link {
    font-weight: 600 !important;
}
.nav-link-active {
    border-bottom: 2px solid white;
    padding-bottom: 5px !important;
}

.navbar-toggler {
    margin-top: -6px;
}
.index-nav-text {
    color: #fff !important;
}
/* Typography */

h1,h2,h3,h4,h5,h6,strong {
    font-family: 'DejaVu Sans';
}
h1,h2 {
    font-weight: bold;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    color: #009688 !important;
}
h6 {
    font-size: 1.1rem !important;
    font-weight: bold !important;
    color: #009688 !important;
}
p, span, input, label, div, li, u, strong a {
    font-family: 'DejaVu Sans Condensed';
    font-size: 1rem !important;
}
button, small, a {
    font-family: 'DejaVu Sans';
    font-size: .9rem !important;
}

.btn {
    text-transform: NONE !important;
}
p {
    text-align: left;
}
h2,h3 {
    color: #5c9aa5 !important;
}
h4,h5,h6 {
    color: #65b5c3 !important;
}

/* Layout */

main {
    background-color: #f6f6f6;
    min-height: calc(100vh - 75px);
    margin-top: 75px;
}

.index-menu {
    margin-top: -.8em;
    margin-bottom: .5em;
}
.index-menu-item {
    flex:1;
}
.index-nav-text:hover {
    cursor: pointer;
}
.index-nav-size-fix {
    width: 220px !important;
    text-align: center;
}

.bmd-label-floating, .bmd-label-static {
    margin-top: -.5rem !important;
}
/* label {
    color: darkslategrey !important;
} */

button {
    width: auto !important;
}

/* Home page */

ul.list-group li:nth-child(even) {
    /* background-color: #5c9aa5;
    color: #f6f6f6; */
    background-color: #efeded;
    /* color: #f6f6f6; */
}
ul.list-group li:nth-child(odd) {
    background-color: #f6f6f6;
}
.img-index {
    width: auto;
    height: 120px;
}

/* MachineIndex */

.unlogged-user-machine-card {
    min-height: 200px;
}
.machine-card {
    min-height: 237px;
}
.machine-card-gap {
    height: 37px;
}

.machine-img {
    width: 100px;
    height: 100px;
}

/* MachineDetail */

.machine-detail-img  {
    width: 90px;
    height: 90px;
    /* margin-left: -25px; */
}
.machine-detail-card {
    margin-top: -35px;
}

/* User index */

.doli-user-card {
    min-height: 140px;
}
.logged-user-card {
    background-color: #65b5c3;
}
.logged-user-card > *, h6.logged-user-card, a.logged-user-card {
    color: white !important;
}
.btn-logged-user {
    background-color: white;
    color: #009688;
}
.btn-unlogged-user {
    background-color: #65b5c3;
    color: white;
}
.btn-search {
    background-color: #009688 !important;
    color: white !important;
}
.btn-logged-user:hover {
    color: white;
}
.btn-unlogged-user:hover {
    background-color: white;
    color: #65b5c3;
}
.user-card {
    min-height: 150px;
}

.form-error ul li {
    list-style: none;
    text-align: right;
    color: #ff5722;
}

/* Statistiques */
canvas.stat-machine {
    min-height: 400px;
}

/* Timer */
#timer {
    width: 50px;
    height: 50px;
}

/* .timer-in-websocket {

    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.1); */
    /* background-color: #ff5722; */
    /* background-color: #65b5c3; */
    /* box-shadow: 1px 1px 2px rgba(0,0,0,0.1); */
    /* color: #f6f6f6; */
    /* font-size: 3rem;
    font-weight: 900; */
    /* padding: 1rem; */
    /* background-image: url('../img/clock.png'); */

/* } */
/* .timer-position {
    position: fixed;
    top:85px;
    right: 10px;
} */
/* #timer .clock-img {
    padding:0;
    margin:auto;
    transform: scale(3.5);
    color: rgba(255, 87, 34, .4);
} */

/* footer {
    background-color: #f6f6f6;
    min-height: 10vh;
} */
