{% extends 'adminpanel/base.html' %}

{% block title %}Fabaccess - Aide{% endblock %}

{% load static %}


{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}


{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <h2 class="mb-3 mt-0">Aide</h2>
        <div class="row justify-content-center">
            <div class="card container mb-3">
                <div class="card-body px-5 py-4">
                    <h5 class=" mb-4">Borne d'accueil</h5>
                    <p class="">La borne permet l'accès aux services FabAccess pour utiliser des équipements et consulter l'application.</p>
                    <ul class="list-group my-4">
                        <li class="list-group-item">
                            <div class="d-flex no-wrap align-items-center">
                                <button type="button" class="btn btn-secondary bmd-btn-fab">
                                    1
                                </button>
                                <p><strong class="m-0">Je signale mon arrivée</strong> <u>en passant mon badge une première fois</u> devant le lecteur pour avoir accès aux équipements.</p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex no-wrap align-items-center">
                                <button type="button" class="btn btn-secondary bmd-btn-fab">
                                    2
                                </button>
                                <p><u class="m-0">Je passe mon badge une seconde fois</u> pour <strong class="m-0">consulter mon profil</strong>, <strong class="m-0">déclarer une panne</strong> ou <strong class="m-0">signaler mon départ</strong></p>
                            </div>
                        </li>
                    </ul>
                    <div class="alert alert-warning container mt-5" role="alert">
                        Seul un utilisateur qui a signalé sa présence <strong>en passant son badge devant le lecteur de la borne d'accueil</strong> peut accéder aux équipements.
                    </div>
                </div>
            </div>

            <div class="card container">
                <div class="card-body px-5 py-4">
                    <h5 class=" mb-4">Boîtiers de contrôle des machines</h5>
                    <p class="text-justify">Les boîtiers contrôlent l'accès aux équipements en vérifiant les droits de l'utilisateur pour une machine donnée. Ils autorisent ou pas l'allumage et l'arrêt de la machine. Il existe deux modalités d'utilisation en fonction du type de machine.</p>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h6 class="">Présence non obligatoire</h6>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="d-flex no-wrap align-items-center">
                                        <button type="button" class="btn btn-secondary bmd-btn-fab">
                                            ON
                                        </button>
                                        <p class="text-left">Je <strong class="m-0">passe</strong> mon badge <strong class="m-0">devant</strong> le boîtier</p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex no-wrap align-items-center">
                                        <button type="button" class="btn btn-secondary bmd-btn-fab">
                                            OFF
                                        </button>
                                        <p class="text-left">Je <strong class="m-0">pose</strong> mon badge sur le boîtier <strong class="m-0">pendant au moins 5s</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h6 class="">Présence obligatoire</h6>

                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="d-flex no-wrap align-items-center">
                                        <button type="button" class="btn btn-secondary bmd-btn-fab">
                                            ON
                                        </button>
                                        <p class="text-left">Je <strong class="m-0">pose</strong> mon badge <strong class="m-0">sur</strong> le boîtier</p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex no-wrap align-items-center">
                                        <button type="button" class="btn btn-secondary bmd-btn-fab">
                                            OFF
                                        </button>
                                        <p class="text-left">Je <strong class="m-0">retire</strong> mon badge du boîtier <strong class="m-0">pendant plus de 5s</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h6 class=" my-4">La couleur de la LED me renseigne sur mes droits</h6>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="d-flex no-wrap align-items-center">
                                        <button type="button" class="btn btn-dark bmd-btn-fab">

                                        </button>
                                        <p class="text-left"><strong class="m-0">Attente de lecture :</strong> je peux passer mon badge.</p>
                                    </div>

                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex no-wrap align-items-center">
                                        <button type="button" class="btn btn-warning bmd-btn-fab">

                                        </button>
                                        <p class="text-left"><strong class="m-0">Droits insuffisants :</strong> présence d'un FabManager requise.</p>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    <div class="d-flex no-wrap align-items-center">
                                        <button type="button" class="btn btn-success bmd-btn-fab">

                                        </button>
                                        <p class="text-left"><strong class="m-0">Droits suffisants :</strong> je peux utiliser la machine.</p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex no-wrap align-items-center">
                                        <button type="button" class="btn btn-danger bmd-btn-fab">

                                        </button>
                                        <p class="text-left"><strong class="m-0">Non autorisé :</strong> je ne peux pas utiliser la machine.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% if script == 'ok' %}
    <script src="{% static 'websocketclient.js' %}"></script>
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.index-nav-link').click(function(){
                $(this).attr('aria-expanded') ? $(this).addClass('nav-link-active') : $(this).removeClass('nav-link-active');
                $('.index-nav-link').not($(this)).removeClass('nav-link-active');
            })
        });
    </script>
{% endblock %}

{% block countdownscript %}
{% if user.is_authenticated %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
{% else %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '';
</script>
{% endif %}
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
