{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Fabaccess - Tableau de bord{% endblock %}


{% block content %}
<div>
    <div class="d-flex justify-content-between align-items-baseline">
        <h2>Bonjour {{ userdata.user.first_name }}</h2>
        <p>Vous êtes {{ userdata.type }}</p>
        <p>{{ usercount }} membres connectés</p>
    </div>


    {% if userdata.message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ userdata.message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="container-fluid">
        <div class="card-deck">
            <div class="card">
                <img src="{% static 'img/blue.png' %}" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Nos Machines</h3>
                    <p class="card-text">Voir la liste des machines du parc et leur disponibilité.</p>
                    <a role="button" class="btn btn-primary" href="{% url 'clientapp:machines' %}">Go!</a>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/blue.png' %}" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Profil du membre</h3>
                    <p class="card-text">Lire et modifier vos données personnelles.</p>
                    <a role="button" class="btn btn-primary" href="{% url 'clientapp:profile' %}">Go!</a>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/blue.png' %}" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Signaler une panne</h3>
                    <p class="card-text">Si une machine tombe en panne, envoyez un message au Fabmanager.</p>
                    <a role="button" class="btn btn-primary" href="{% url 'clientapp:incidentReport' %}">Go!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
