{% extends 'adminpanel/base.html' %}
{% block title %}FabAccess - Erreur{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="mb-4">Accès refusé...</h2>
    <div class="container alert alert-danger text-center alert-dismissible fade show" role="alert">
        <strong>{{ msg }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<script>
$(function () {

    let socket = new WebSocket("ws://127.0.0.1:5678/");
    let erreur = '{{ msg }}';

    let msg=JSON.stringify({
        "action":"erreur",
        "msg":erreur,
    });
    socket.onopen =function (e) {
        console.log(e);
        socket.send(msg);
    };
    socket.onmessage= function (event) {
        console.log(event)
    };
    socket.onerror=function(error){
        console.log(error)
    };
})
</script>

{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
