{% extends 'adminpanel/base.html' %}
{% block title %}Fabaccess - Au revoir{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="mb-4">A bientôt, <strong class="text-capitalize">{{ user1.first_name }}</strong></h2>
</div>

<script>
    var client = "{{ user1.first_name }}"
</script>
<script>
$(function () {

    let socket = new WebSocket("ws://127.0.0.1:5678/");
    let msg=JSON.stringify({
        "action":"connexion",
        "msg":"A bientôt, " + client,
    });
    socket.onopen =function (e) {
        console.log(e)
        socket.send(msg);
        // socket.close();
    };
    socket.onmessage= function (event) {
        console.log(event)
    };
    socket.onerror=function(error){
        console.log(error)
    };
})
</script>

{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
