{% extends 'adminpanel/base.html' %}
{% block title %}Fabaccess - Pannes{% endblock %}
{% block content %}
<div>
    <h2>Signaler une panne ou un incident</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>
{% endblock %}
