{% extends 'adminpanel/base.html' %}

{% block title %}Fabaccess - Accueil{% endblock %}

{% load static %}


{% block countdown %}
{% if user.is_authenticated %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endif %}
{% endblock %}


{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <h2 class="mb-3 mt-0">Accueil</h2>
        <div class="row justify-content-center">
            <div class="card container mb-3">
                <div class="card-body px-5 py-4">
                    <p class="text-center">
                        Pour utiliser les machines :<br><strong>signalez votre arrivée</strong> en présentant votre badge devant le lecteur.
                    </p>
                    <div class="row justify-content-center align-items-center pb-2 mb-2 border-bottom">
                        <div class="col-3 text-center">
                            <i class="fa-4x fas fa-sign-in-alt text-secondary"></i>
                        </div>
                        <div class="col-1">
                            <i class="fa-2x fas fa-long-arrow-alt-right text-secondary"></i>
                        </div>
                        <div class="col-4">
                            <img src="{% static 'img/card.gif' %}" alt="" class="img-index px-2">
                        </div>
                        <div class="col-1">
                            <i class="fa-2x fas fa-long-arrow-alt-right text-secondary"></i>
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            <img src="{% static 'img/3d-printer.png' %}" alt="" class="img-index">
                        </div>
                    </div>
                    <p class="text-center">Présentez une seconde fois votre badge pour :<br><strong>consulter votre profil</strong>, <strong>déclarer un incident</strong> ou <strong>signaler votre départ</strong>.</p>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4">
                            <img src="{% static 'img/card.gif' %}" alt="" class="img-index px-2">
                        </div>
                        <div class="col-1">
                            <i class="fa-2x fas fa-long-arrow-alt-right text-secondary"></i>
                        </div>
                        <div class="col-3 text-center">

                            <div class="row">
                                <div class="col-12 text-center mb-1">
                                    <i class="fa-3x fas fa-user text-primary"></i>
                                </div>
                                <div class="col-12 text-right mb-1">
                                    <i class="fa-3x fas fa-sign-in-alt text-secondary"></i>
                                </div>
                                <div class="col-12 text-center">
                                    <i class="fa-3x fas fa-bolt text-warning"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning container mt-4 text-center" role="alert">
                        Si vous avez besoin d'aide, faîtes appel au <strong>Concierge</strong> ou au <strong>Fabmanager</strong>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if script == 'ok' %}
<script src="{% static 'websocketclient.js' %}"></script>
{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.index-nav-link').click(function(){
            $(this).attr('aria-expanded') ? $(this).addClass('nav-link-active') : $(this).removeClass('nav-link-active');
            $('.index-nav-link').not($(this)).removeClass('nav-link-active');
        })
    });
</script>
{% endblock %}

{% block countdownscript %}
{% if user.is_authenticated %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endif %}
{% endblock %}
