{% extends 'adminpanel/base.html' %}
{% block title %}Fabaccess - Machines{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
{% load static %}

<div class="row justify-content-center px-2">
    <div class="col-12">
        <h2 class="mb-3 mt-0">Liste des machines</h2>
        <div class="row">
            {% for machine in machines %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card {% if not user.is_authenticated %}unlogged-user-machine-card{% endif %} {% if user.is_authenticated %}machine-card{% endif %} mb-4" >
                    <div class="card-body d-flex flex-column px-3 pt-3 pb-2">
                        <div class="d-flex no-wrap mb-1">
                            <div>
                                <a role="button"  data-toggle="modal" data-target="#{{machine.pk}}" href="">
                                    <h5 class="card-title">{{ machine.nom }}</h5>
                                </a>
                                <p class="card-subtitle text-muted mb-3">{{ machine.description }}</p>
                            </div>
                            {% if machine.img %}
                            <img src="{{ machine.img.url }}" class="machine-img ml-auto" alt="{{ machine.nom }}">
                            {% else %}
                            <img src="{% static 'img/cancel.png' %}" class="machine-img ml-auto mr-2" alt="{{ machine.nom }}">
                            {% endif %}
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="{{machine.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header mb-1 d-flex justify-content-between">
                                        <div class="d-flex align-items-start">
                                            {% if machine.img %}
                                            <img src="{{ machine.img.url }}" class="machine-img ml-auto mr-2" alt="{{ machine.nom }}">
                                            {% else %}
                                            <img src="{% static 'img/cancel.png' %}" class="machine-img ml-auto mr-2" alt="{{ machine.nom }}">
                                            {% endif %}
                                            <h2 class="modal-title" id="exampleModalLongTitle">{{ machine.nom }}</h2>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body py-2">
                                        <div class="mb-4">
                                            {% if machine.pannetype == 0 or not machine.pannetype %}
                                            {% if machine.libre == 0 %}
                                            <div class="alert alert-secondary container text-center my-2 py-2" role="alert">
                                                <strong>Occupée par {{ machine.user.first_name }}</strong>
                                            </div>
                                            {% elif machine.libre == 1 %}
                                            <div class="alert alert-success container text-center my-2 py-2" role="alert">
                                                <strong>Disponible</strong>
                                            </div>
                                            {% endif %}

                                            {% elif machine.pannetype == 1  %}
                                            {% if machine.libre == 0 %}
                                            <div class="alert alert-secondary container text-center my-2 py-2" role="alert">
                                                <strong>Occupée par {{ machine.user.first_name }}</strong>
                                            </div>
                                            {% elif machine.libre == 1 %}
                                            <div class="alert alert-warning container text-center my-2 py-2" role="alert">
                                                <strong>Utilisation restreinte</strong>
                                            </div>
                                            {% endif %}

                                            {% elif machine.pannetype == 2 %}
                                            <div class="alert alert-danger container text-center my-2 py-2" role="alert">
                                                <strong>Hors-service</strong>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <h6 class="">Description</h6>
                                        <p class="mb-4">{{ machine.descriptionLongue }}</p>
                                        <div class="row">
                                            <div class="col-8">
                                                <h6 class="">Mode d'utilisation</h6>
                                                {% if machine.type == 'fixe' %}
                                                <p class=""><strong>Présence obligatoire pendant toute la durée d'utilisation :</strong><br>je pose mon badge sur le lecteur.</p>
                                                {% elif machine.type == 'mobile' %}
                                                <p class=""><strong>Présence facultative pendant l'utilisation :</strong><br>je passe mon badge devant le lecteur.</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                <h6 class="">Coût d'utilisation</h6>
                                                <p class="">{{ machine.cout }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class="modal-footer py-2 d-flex justify-content-end">

                                        {% if  machine.pannetype == 0 or machine.pannetype == 1 or machine.pannetype == 2 %}
                                        <a class="btn btn-sm btn-warning btn-raised" href="{% url 'clientapp:panneview' pk=machine.pk%}">
                                            Consulter les incidents
                                        </a>
                                        {% else %}
                                        <a class="btn btn-sm btn-secondary btn-raised" href="{% url 'clientapp:panne' pk=machine.pk%}">
                                            Déclarer un incident
                                        </a>
                                        <div class="machine-card-gap">

                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="mt-auto">
                            {% if machine.pannetype == 0 or not machine.pannetype %}
                            {% if machine.libre == 0 %}
                            <div class="alert alert-secondary container text-center my-2 py-2" role="alert">
                                <strong>Occupée par {{ machine.user.first_name }}</strong>
                            </div>
                            {% elif machine.libre == 1 %}
                            <div class="alert alert-success container text-center my-2 py-2" role="alert">
                                <strong>Disponible</strong>
                            </div>
                            {% endif %}

                            {% elif machine.pannetype == 1  %}
                            {% if machine.libre == 0 %}
                            <div class="alert alert-secondary container text-center my-2 py-2" role="alert">
                                <strong>Occupée par {{ machine.user.first_name }}</strong>
                            </div>
                            {% elif machine.libre == 1 %}
                            <div class="alert alert-warning container text-center my-2 py-2" role="alert">
                                <strong>Utilisation restreinte</strong>
                            </div>
                            {% endif %}

                            {% elif machine.pannetype == 2 %}
                            <div class="alert alert-danger container text-center my-2 py-2" role="alert">
                                <strong>Hors-service</strong>
                            </div>
                            {% endif %}
                        </div>




                        <div class="d-flex justify-content-end">
                            {% if user.is_authenticated %}
                            {% if  machine.pannetype == 0 or machine.pannetype == 1 or machine.pannetype == 2 %}
                            <a class="btn btn-sm btn-warning btn-raised" href="{% url 'clientapp:panneview' pk=machine.pk%}">
                                Consulter les incidents
                            </a>
                            {% else %}
                            <a class="btn btn-sm btn-secondary btn-raised" href="{% url 'clientapp:panne' pk=machine.pk%}">
                                Déclarer un incident
                            </a>
                            <div class="machine-card-gap">

                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block countdownscript %}
{% if user.is_authenticated %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
{% else %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '';
</script>
{% endif %}
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
