{% extends 'adminpanel/base.html' %}

{% block title %}Panne en cours{% endblock %}
{% load tz %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <div class="d-flex align-items-start mb-3 mt-0">
            <h2 class=""><strong class="text-capitalize">{{ machine.nom }}</strong> - Consulter les incidents</h2>
            <a role="button" class="ml-auto btn btn-raised btn-secondary btn-sm" href="javascript:history.go(-1)">Retour</a>
        </div>
        <div class="row justify-content-center px-2">
            <div class="card container p-4">
                <div class="card-body">
                    <p class="mb-4 text-justify">Vous pouvez consulter la description de la panne. Les pannes de type 'Hors-Service' interdisent l'utilisation de la machine. Seul un FabManager peut modifier cette déclaration.</p>
                    <div class="form-group mb-4">
                        <label for="exampleFormControlInput1">Date de début</label>
                        <input type="text" class="form-control text-center" value="{{ panne.debut|localtime }}" readonly placeholder="name@example.com">
                    </div>
                    <div class="row mb-3 border-bottom">
                        <div class="col-6 d-flex flex-wrap">
                            <label for="type">Gravité de l'incident</label>
                            <div class="ml-auto d-flex align-items-end">
                                {% if panne.type == 0 %}
                                <div class="radio mr-2">

                                    <label class="text-primary">
                                        <input type="radio" readonly name="type" value=0 checked>
                                        Non Gênant
                                    </label>
                                </div>
                                {% endif %}{% if panne.type == 1 %}
                                <div class="radio mr-2">
                                    <label class="text-primary">
                                        <input type="radio" readonly name="type" value=1 {% if panne.type == 1 %}checked{% endif %}>
                                        Gênant
                                    </label>
                                </div>
                                {% endif %}{% if panne.type == 2 %}
                                <div class="radio mr-2">
                                    <label class="text-primary">
                                        <input type="radio" readonly name="type" value=2 {% if panne.type == 2 %}checked{% endif %}>
                                        Hors service
                                    </label>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                        <div class="col-6 d-flex border-left flex-wrap">
                            <label for="status">Statut de l'incident</label>
                            <div class="ml-auto d-flex align-items-end">
                                {% if panne.status == "declare" %}
                                <div class="radio mr-2">
                                    <label class="text-primary">
                                        <input type="radio" readonly name="status" value="declare" {% if panne.status == "declare" %}checked{% endif %}>
                                        Déclaré
                                    </label>
                                </div>

                                {% endif %}
                                {% if panne.status == "confirme" %}
                                <div class="radio mr-2">
                                    <label class="text-primary">
                                        <input type="radio" readonly name="status" value="confirme" {% if panne.status == "confirme" %}checked{% endif %}>
                                        Confirmé
                                    </label>
                                </div>

                                {% endif %}
                                {% if panne.status == "attente" %}
                                <div class="radio mr-2">
                                    <label class="text-primary">
                                        <input type="radio" readonly name="status" value="attente" {% if panne.status == "attente" %}checked{% endif %}>
                                        En Attente
                                    </label>
                                </div>

                                {% endif %}

                            </div>

                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="cause">Cause</label>
                        <textarea id='cause' readonly name="cause" class="form-control text-center" autofocus="" required="" rows="6" placeholder="Décrivez l'incident ici...">{{ panne.cause }}</textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
