{% extends 'adminpanel/base.html' %}

{% block title %}Fabaccess - Panne{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <div class="d-flex align-items-start mb-3 mt-0">
            <h2 class=""><strong class="text-capitalize">{{ machine.nom }}</strong> - Déclarer un incident</h2>
            <a role="button" class="ml-auto btn btn-raised btn-secondary btn-sm" href="javascript:history.go(-1)">Retour</a>
        </div>

        <div class="row justify-content-center px-2">
            <div class="card container p-4">
                <div class="card-body">
                    <p class="mb-4 text-justify">Signalez un incident en fournissant une description détaillée de la situation et une évaluation de sa gravité. Les déclarations sont soumises à validation par le FabManager.<br>Les machines sont déclarées 'Hors-Service' en cas d'incident bloquant. Elles ne seront plus disponibles pour les membres. Seul le FabManager est habilité à les allumer et les éteindre pour effectuer les réparations.</p>
                    <form method="post" action="{% url 'clientapp:panne' pk=machine.pk %}">
                        {% csrf_token %}
                        <div class="d-flex mb-3 border-bottom">
                            <label class="text-secondary">Evaluez la gravité de l'incident</label>
                            <div class="ml-auto d-flex">
                                <div class="radio mr-2">
                                    <label class="text-primary">
                                        <input type="radio" name="type" value="0">
                                        Non Gênant
                                    </label>
                                </div>

                                <div class="radio mr-2">
                                    <label class="text-primary">
                                        <input type="radio" name="type" value="2">
                                        Bloquant
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="form-group mb-4">
                            <label for="exampleFormControlTextarea1">Cause</label>
                            <textarea id='cause' name="cause" class="form-control text-center" autofocus="" required="" rows="8" placeholder="Décrivez l'incident ici..."></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" value="login" class="btn btn-sm btn-raised btn-success">Enregistrer</button>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
