{% extends 'adminpanel/base.html' %}
{% block title %}Fabaccess - Profil{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
{% if msg %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
{% endif %}

<div class="row justify-content-center px-2">
    <div class="col-12">
        <h2 class="mb-3 mt-0">Mon profil</h2>
        <div class="row justify-content-center">
            <div class="card container mb-3 p-4">
                <div class="card-body">
                    <form method="post" action="{% url 'clientapp:user' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">Nom</label>
                            <input type="text" class="form-control text-center" name="Nom" autofocus="" required="" id="Nom" value="{{ user.last_name }}">
                            <!-- <span class="bmd-help">We'll never share your email with anyone else.</span> -->
                        </div>
                        <div class="form-group">
                            <label for="Prenom" class="bmd-label-floating">Prénom</label>
                            <input type="text" class="form-control text-center" name="Prenom" autofocus="" required="" id="Prenom" value="{{ user.first_name }}">
                        </div>
                        <div class="form-group">
                            <label for="Email" class="bmd-label-floating">Adresse mail</label>
                            <input type="text" class="form-control text-center" value="{{ user.email }}" type="text" name="Email" id="Email">
                        </div>
                        <div class="form-group">
                            <!-- <label for="Doliid" class="bmd-label-floating">Compte Dolibarr</label> -->
                            <input type="hidden" class="form-control text-center" readonly value="{{ userdata1.doliid }}" type="text" name="Doliid" id="Doliid">
                        </div>

                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="d-flex justify-content-end mt-4">
                            <button type="submit" value="login" class="btn btn-sm btn-raised btn-success">Enregistrer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
