{% extends 'adminpanel/base.html' %}

{% block title %}Statistiques{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}


{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <h2 class="mb-3 mt-0">Mes statistiques</h2>
        <div class="row justify-content-center">
            <div class="container card px-5 py-4">
                <div class="card-body">
                    <table class="table table-striped  table-sm-responsive">
                        <thead>
                            <tr>
                                <th class="" scope="col"><strong>Machine</strong></th>
                                <th class="text-center" scope="col"><strong>Temps en heures</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for machine in machines %}
                            <tr>
                                <th class="" scope="row">
                                    <strong class="text-dark text-capitalize">{{ machine }}</strong>
                                </th>
                                <td class="text-center">{{ machine.total }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th class="text-center" scope="row">

                                </th>
                                <td class="text-center"></td>
                            </tr>
                        </tbody>
                        <tfooter class="mt-4">
                            <tr>
                                <th class="text-primary" scope="row">
                                    <h6><strong>Total d'utilisation des machines</strong></h6>
                                </th>
                                <td class="text-center text-primary">
                                    <h6><strong>{{ presence }}</strong></h6>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-primary" scope="row">
                                    <h6><strong>Total de présence au FabLab</strong></h6>
                                </th>
                                <td class="text-center text-primary">
                                    <h6><strong>{{ presence }}</strong></h6>
                                </td>
                            </tr>
                        </tfooter>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
