{% extends 'adminpanel/base.html' %}

{% block title %}websocket{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="mb-3 text-center">Veuillez choisir une action</h2>


    <div class="row justify-content-around">
        <div class="card col-10 col-md-5 mb-3">
            <div class="card-body px-5 py-4 d-flex flex-column">
                <p class="text-center">Vous voulez consulter votre profil ou déclarer une panne ?</p>
                <div class="d-flex justify-content-center mt-auto">
                    <button class="btn-info btn-raised btn" id="app">Se connecter</button>
                </div>
            </div>
        </div>
        <div class="card col-10 col-md-5 mb-3">
            <div class="card-body px-5 py-4 d-flex flex-column ">
                <p class="text-center">Vous avez fini d'utiliser les équipements ?</p>
                <div class="d-flex justify-content-center mt-auto">
                    <button class="btn-secondary btn-raised btn" id="logout">Quitter</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    let socket = new WebSocket("ws://127.0.0.1:5678/")
    let msg=JSON.stringify({
        "action":"choixUtilisateur",
        "msg":'Veuillez choisir une action'
    });
    socket.onopen = function(e) {
        console.log(e);
        socket.send(msg);
    };
    socket.onmessage = function(event) {
        console.log(event);
    };
    socket.onerror = function(error){
        console.log(error);
    };
    $('#app').click(function() {
        let msg = $('#msg').val();
        socket.send(JSON.stringify({
            "action":"profil",
            "msg":''
        }));
    });
    $('#logout').click(function () {
        let msg=$('#msg').val();
        socket.send(JSON.stringify({
            "action":"deconnexion",
            'msg':''
        }));
    });
</script>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
