{% extends 'adminpanel/base.html' %}
{% block title %}Fabaccess - Bienvenue{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="mb-4">Bienvenue, <strong class="text-capitalize">{{ user1.first_name }}</strong></h2>

    {% if not msg == None %}
    <div class="alert alert-warning container alert-dismissible fade show" role="alert">
        <strong>{{ msg }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="row justify-content-center px-2">
        <div class="col-12 card px-5">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">MachineImg</th>
                            <th scope="col">Machine</th>
                            <th scope="col">Disponibilité</th>
                            <th scope="col">Habilitation</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for machine in listemachines %}
                        <tr>
                            <th scope="row">
                                {% if machine.img %}
                                <img src="{{ machine.img.url }}" class="machine-img ml-auto mr-2" alt="{{ machine.nom }}">
                                {% else %}
                                <img src="{% static 'img/cancel.png' %}" class="machine-img ml-auto mr-2" alt="{{ machine.nom }}">
                                {% endif %}
                            </th>
                            <th scope="row" class="align-middle">{{ machine }}</th>
                            <td class="align-middle">{% if machine.operationel == 1 %}{% if machine.libre == 1 %} Disponible {% endif %}{% if machine.libre == 0 %} Occupée par {{ machine.user }} {% endif %}{% endif %}{%  if machine.operationel == 0 %}Hors service{% endif %}</td>
                            <td class="align-middle">{% if machine.droit == 0 %}Non habilité{% endif %}{% if machine.droit == 1 %}Accompagné{% endif %}{% if machine.droit == 2 %}Autonome{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>

<script>var client = "{{ user1.first_name }}"</script>

<script>
$(function () {

    console.log(client);
    let socket = new WebSocket("ws://127.0.0.1:5678/");
    let msg=JSON.stringify({
        "action":"connexion",
        "msg":"Bienvenue, "+client,
    });
    socket.onopen =function (e) {
        console.log(e)
        socket.send(msg);
    };
    socket.onmessage= function (event) {
        console.log(event)
    };
    socket.onerror=function(error){
        console.log(error)
    };
})
</script>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
