{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Utilisateur{% endblock %}

{% block countdown %}
    <div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-lg-8 col-xl-6">
            <h3 class="mb-4">Présentez un badge devant le lecteur</h3>
            <p class="attente mb-2">Attribution de badge pour <strong>{{ user1.first_name }} {{ user1.last_name }}</strong></p>

            <div class="alert alert-danger container alert-dismissible fade show mb-2" role="alert" id="error">

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="d-flex justify-content-center my-4 align-items-center">

                <img src="{% static 'img/card.gif' %}" alt="" class="img-index">

            </div>

            <div class="d-flex flex-column align-items-end">


                <button type="button" id="annulation" value="login" class="btn btn-sm attente btn-raised btn-danger">Annuler</button>


            </div>
        </div>
    </div>

    <script>
        $(function () {

            var codeutil='{{ user1.userdata.random }}';
            var id="{{ user1.pk }}";
            var socket = new WebSocket("ws://127.0.0.1:5678/");

            $('#error').hide();
            $('.navlink').click(function(e){
                e.preventDefault();
            });

            socket.onopen = function(e) {
                console.log(e);
                let msg=JSON.stringify({
                    "action":"envoiBadge",
                    "code":codeutil,
                    "id":id,
                    "msg": "Veuillez présenter un badge"
                });
                socket.send(msg);
                // alert('msg sent : '+msg);
            };

            socket.onclose = function(e){
                console.log(e)
            }

            $('#annulation').click(function () {
                let annulation_msg = JSON.stringify({
                    "action":"arretLecture",
                    'msg': 'Attribution annulée'
                });
                socket.send(annulation_msg);
                // alert('msg sent : '+annulation_msg);
                // window.location.replace("{% url 'adminpanel:user' pk=user1.pk %}")
                setTimeout(function(){location.href="{% url 'adminpanel:user' pk=user1.pk %}"}, 2000);
            });

            socket.onmessage = function (event) {
                console.log(event);
                let recu=JSON.parse(event.data);
                if (recu['action']==="envoiBadge"){
                    var badge=recu['badge'];
                    var code=recu['code'];
                    var id=recu['id'];
                    if (code===codeutil){
                        var envoi={'badge':badge,
                            'id':id,
                            'code':code};
                        $.ajax({
                            url: "{{ request.scheme }}://{{ request.get_host }}{% url 'clientapp:index' %}panel/envoiedubadge",
                            type : 'POST',
                            data : JSON.stringify(envoi),
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            async: false,
                            success: function (msg) {
                                let message=JSON.stringify({
                                    "action":"arretLecture",
                                    'msg': 'Badge attribué avec succès.'
                                });
                                socket.send(message);
                                console.log(msg);
                                window.location.replace("{% url 'adminpanel:user' pk=user1.pk %}")
                            },
                            error: function (msg) {
                                let message=JSON.stringify({
                                    "action":"envoiBadge",
                                    "code":codeutil,
                                    "id":id,
                                    'msg': 'Badge déjà attribué.'
                                });
                                socket.send(message);
                                $('#error').show()
                                    .text(msg.responseText);
                            }

                        });
                        console.log('ok')
                        // alert('msg sent : '+message);
                    }
                }
            };
            socket.onerror=function(error){
                console.log(error)
            };



            var duree_timer = 60;
            var counter=setInterval(timer, 1000); // 1s

            function timer(){
                duree_timer--;
                if (duree_timer <= 0){
                    clearInterval(counter);
                    document.getElementById("timer").innerHTML = "";
                    return;
                }
                document.getElementById("timer").innerHTML = duree_timer + "s";
            }
            function depart(){
                let test=socket.send(JSON.stringify({
                    "action":"arretLecture",
                    'msg': 'Attribution annulée'
                }));
                window.location.replace("{% url 'adminpanel:user' pk=user1.pk %}");
            }
            setTimeout(depart, 60000);
            window.setInterval(function(){
                let tic=socket.send(JSON.stringify({
                    "action":'tic',
                    'msg':'tac'
                }));
                console.log('tic tac')
            }, 1000);
        })
    </script>

{% endblock %}

{% block countdownscript %}
    {#<script type="text/javascript">#}
    {#    var duree_timer = '{{duree_timer}}';#}
    {#    var redirection_timer = '{{redirection_timer}}';#}
    {#</script>#}
    {#<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>#}
{% endblock %}
