{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>

        var baseurl="{{ request.scheme }}://{{ request.get_host }}{% url 'clientapp:index' %}";

</script>


</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light top-bar top-bar-bg fixed-top px-2 pr-md-3 pl-md-4">
        <a class="navbar-brand mt-md-1 navlink"  href="{% url 'clientapp:index' %}">
            <h1 class="top-bar-title top-bar-text">FabAccess</h1>
        </a>
        {% block countdown %}
        {% endblock %}

        <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse box-shadow top-bar-bg" id="navbar-menu">
            <!-- {{request.path}} -->
            <ul class="navbar-nav mt-1 mt-md-2 ml-auto pb-2">
                {% if user.is_authenticated %}
                    {% if user.userdata.type == 'Fabmanager' or user.userdata.type == 'Concierge' %}

                    <li class="nav-item ml-auto mr-4">
                        <a class="nav-link navlink top-bar-text {% if request.path == '/panel/' or '/machine/' in request.path or '/stat/' in request.path or '/panne/' in request.path or '/panneview/' in request.path %}nav-link-active{% endif %}" href="{% url 'adminpanel:index' %}">Machines</a>
                    </li>
                    <li class="nav-item ml-auto mr-4">
                        <a class="nav-link navlink top-bar-text {% if request.path == '/panel/userindex' or '/userview/' in request.path or '/useradd' in request.path or '/droit/' in request.path or '/attentebadge/' in request.path or '/userstat/' in request.path %}nav-link-active{% endif %}" href="{% url 'adminpanel:userindex' %}">Membres</a>
                    </li>
                    <li class="nav-item ml-auto mr-4">
                        <a class="nav-link navlink top-bar-text {% if request.path == '/panel/option' %}nav-link-active{% endif %}" href="{% url 'adminpanel:option' %}">Options</a>
                    </li>
                    {% endif %}

                    {% if user.userdata.type == 'User' %}
                    <li class="nav-item ml-auto mr-4">
                        <a class="nav-link navlink top-bar-text {% if request.path == '/machine' or '/panne/' in request.path or '/panneview/' in request.path %}nav-link-active{% endif %}" href="{% url 'clientapp:machineuser' %}">Machines</a>
                    </li>
                    <li class="nav-item ml-auto mr-4">
                        <a class="nav-link navlink top-bar-text {% if request.path == '/statistiques' %}nav-link-active{% endif %}" href="{% url 'clientapp:stats' %}">Stats</a>
                    </li>
                    <li class="nav-item ml-auto mr-4">
                        <a class="nav-link navlink top-bar-text {% if request.path == '/user' %}nav-link-active{% endif %}" href="{% url 'clientapp:user' %}">Profil</a>
                    </li>

                    {% endif %}
                    <li class="nav-item navlink ml-auto mr-4">
                        <a class="nav-link top-bar-text {% if request.path == '/aide' %}nav-link-active{% endif %}" href="{% url 'clientapp:aide' %}">Aide</a>
                    </li>
                    <li class="nav-item navlink ml-auto mr-4">
                        <a id="logout" class="nav-link top-bar-text" href="{% url 'adminpanel:logout' %}?next={% url 'clientapp:index' %}">Déconnexion</a>
                    </li>
                {% endif %}

                {% if not user.is_authenticated %}
                <li class="nav-item navlink ml-auto mr-4">
                    <a class="nav-link top-bar-text {% if request.path == '/machine' %}nav-link-active{% endif %}" href="{% url 'clientapp:machineuser' %}">Machines</a>
                </li>
                <li class="nav-item navlink ml-auto mr-4">
                    <a class="nav-link top-bar-text {% if request.path == '/aide' %}nav-link-active{% endif %}" href="{% url 'clientapp:aide' %}">Aide</a>
                </li>
                <li class="nav-item navlink ml-auto mr-4">
                    <a class="nav-link top-bar-text" href="{% url 'login' %}?next={% url 'clientapp:index' %}">Connexion</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>
    <main class="container-fluid pt-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('body').bootstrapMaterialDesign();
        });
    </script>
    {% block countdownscript %}
    {% endblock %}


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</body>

</html>
