{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Droit de l'utilisateur{% endblock %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <div class="d-flex align-items-start mb-3 mt-0">
            <h2 class="">Habilitations de <strong class="text-capitalize">{{ user1.username }}</strong></h2>
            <a role="button" class="ml-auto btn btn-raised btn-secondary btn-sm" href="javascript:history.go(-1)">Retour</a>
        </div>
        <div class="row justify-content-center">
            <div class="card container p-4">
                <div class="card-body">
                    <form method="post" action="{% url 'adminpanel:userdroit' pk=pk %}">
                        <table class="table table-striped table-sm-responsive">
                            <thead>
                                <tr>
                                    <th class="" scope="col">
                                        <strong>Machine</strong>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <strong>Non autorisé</strong>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <strong>Accompagné</strong>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <strong>Autonome</strong>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for droit in droits %}

                                <tr class="">
                                    <th scope="row">
                                        <a href="{% url 'adminpanel:machine' pk=droit.pk %}">
                                            <h6 class="text-dark">{{ droit }}</h6>
                                        </a>
                                    </th>

                                    <td class="text-center {% if droit.typeAccess == 0 %}table-secondary{% endif %}">
                                        <div class="radio">
                                            <label>
                                                <input {% if user.userdata.type == 'Concierge' %}disabled{% endif %} type="radio" {% if droit.typeAccess == 0 %}checked{% endif %} name="{{ droit.machineId.pk }}" value="0">
                                            </label>
                                        </div>
                                    </td>
                                    <td class="text-center {% if droit.typeAccess == 1 %}table-warning{% endif %}">
                                        <div class="radio">
                                            <label>
                                                <input {% if user.userdata.type == 'Concierge' %}disabled{% endif %} type="radio" {% if droit.typeAccess == 1 %}checked{% endif %} name="{{ droit.machineId.pk }}" value="1">
                                            </label>
                                        </div>

                                    </td>

                                    <td class="text-center {% if droit.typeAccess == 2 %}table-success{% endif %}">
                                        <div class="radio">
                                            <label>
                                                <input {% if user.userdata.type == 'Concierge' %}disabled{% endif %} type="radio" {% if droit.typeAccess == 2 %}checked{% endif %} name="{{ droit.machineId.pk }}" value="2">
                                            </label>
                                        </div>
                                    </td>


                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>

                        {% if user.userdata.type == 'Fabmanager' %}
                        <div class="d-flex justify-content-end mt-4">
                            <button class="btn btn-raised btn-sm btn-success" type="submit">Enregistrer</button>
                        </div>
                        {% endif %}

                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
