{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}
  <h1>Create Post Page</h1>
<form action="{% url "adminpanel:image" pk=pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit" />
</form>
{% endblock %}