{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Machines{% endblock %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <h2 class="mb-3 mt-0">Liste des machines</h2>
        <div class="row">
            {% for machine in machines %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card machine-card mb-4">
                        <div class="card-body d-flex flex-column px-3 pt-3 pb-2">
                            <div class="d-flex no-wrap mb-1">
                                <div class="mr-2">
                                    <a href="{% url 'adminpanel:machine' pk=machine.pk %}">
                                        <h5 class="card-title">{{ machine.nom }}</h5>
                                    </a>
                                    <p class="card-subtitle machine-card-text text-muted text-left">{{ machine.description }}</p>
                                </div>
                                {% if machine.img %}
                                    <img src="{{ machine.img.url }}" class="machine-img ml-auto" alt="{{ machine.nom }}">
                                {% endif %}
                            </div>


                            <div class="mt-auto">
                                {% if  machine.pannetype == 0 or not machine.pannetype %}
                                    {% if machine.libre == 0 %}
                                        <div class="alert alert-secondary container text-center my-2  py-2" role="alert">
                                            <strong>Occupée par <a href="{% url 'adminpanel:user' pk=machine.user.pk%}" class="mb-2">{{ machine.user.first_name }}</a></strong>
                                        </div>
                                    {% elif machine.libre == 1 %}
                                        <div class="alert alert-success container text-center my-2 py-2" role="alert">
                                            <strong>Disponible</strong>
                                        </div>
                                    {% endif %}

                                {% elif machine.pannetype == 1 %}
                                    {% if machine.libre == 0 %}
                                        <div class="alert alert-secondary container text-center my-2  py-2" role="alert">
                                            <strong>Occupée par <a href="{% url 'adminpanel:user' pk=machine.user.pk%}" class="mb-2">{{ machine.user.first_name }}</a></strong>
                                        </div>
                                    {% elif machine.libre == 1 %}
                                        <div class="alert alert-warning container text-center my-2 py-2" role="alert">
                                            <strong>Utilisation restreinte</strong>
                                        </div>
                                    {% endif %}


                                {% elif machine.pannetype == 2 %}
                                    <div class="alert alert-danger container text-center my-2 py-2" role="alert">
                                        <strong>Hors-service</strong>
                                    </div>
                                {% endif %}

                            </div>


                            <div class="d-flex justify-content-between">
                                <a class="btn btn-sm btn-info btn-raised" href="{% url 'adminpanel:chart' pk=machine.pk %}">Stats</a>
                                {% if machine.panne == 0 or not machine.panne %}
                                    <a class="btn btn-sm btn-secondary btn-raised" href="{% url 'adminpanel:panne' pk=machine.pk%}">
                                        Déclarer un incident
                                    </a>
                                {% elif machine.panne == 1 %}
                                    <a class="btn btn-sm btn-warning btn-raised" href="{% url 'adminpanel:panneview' pk=machine.pk%}">
                                        Consulter les incidents
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
