{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Utilisateur{% endblock %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center px-2">
        <div class="col-12">
            <div class="d-flex align-items-start">
                <h2 class="mb-3 mt-0"><strong class="text-capitalize">{{ machine }}</strong></h2>
                <a role="button" class="ml-auto btn btn-raised btn-secondary btn-sm" href="javascript:history.go(-1)">Retour</a>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 card {% if machine.img %}machine-detail-card{% endif %} mt-2">
                    <div class="card-body">
                        {% if  machine.pannetype == 0 or not machine.pannetype %}
                            {% if machine.libre == 0 %}
                                <div class="alert alert-secondary container py-2 text-center" role="alert">
                                    <strong>Occupée par <a href="{% url 'adminpanel:user' pk=machine.user.pk%}" class="mb-2">{{ machine.user }}</a></strong>
                                </div>
                            {% elif machine.libre == 1 %}
                                <div class="alert alert-success container py-2 text-center" role="alert">
                                    <strong>Disponible</strong>
                                </div>
                            {% endif %}

                            {% elif machine.pannetype == 1 %}

                            {% if machine.libre == 0 %}
                                <div class="alert alert-secondary container py-2 text-center" role="alert">
                                    <strong>Occupée par <a href="{% url 'adminpanel:user' pk=machine.user.pk%}" class="mb-2">{{ machine.user }}</a></strong>
                                </div>
                            {% elif machine.libre == 1 %}
                                <div class="alert alert-success container py-2 text-center" role="alert">
                                    <strong>Utilisation restreinte</strong>
                                </div>
                            {% endif %}

                        {% elif machine.pannetype == 2 %}
                            <div class="alert alert-danger container py-2 text-center" role="alert">
                                <strong>Hors-service</strong>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-2 border-right">
                                {% if machine.img %}
                                    <img src="{{ machine.img.url }}" class="machine-detail-img mr-2" alt="{{ machine.nom }}">
                                    {% else %}
                                    <img src="{% static 'img/cancel.png' %}" class="machine-img ml-auto mr-2" alt="{{ machine.nom }}">
                                    {% endif %}
                            </div>
                            <div class="col-10">
                                <form action="{% url 'adminpanel:machine' pk=machine.pk %}" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}

                                    {% if form.subject.errors %}
                                        <ol>
                                            {% for error in form.subject.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}

                                    {% for field in form %}
                                        <div class="fieldWrapper">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1" class="bmd-label-floating">{{ field.label_tag }}</label>
                                                <input type="{{ field.field.widget.input_type }}" value="{{ field.value }}" class="form-control" name="{{ field.html_name }}" id="basic-url" aria-describedby="basic-addon3" {% if user.userdata.type == 'Concierge' %}readonly{% endif %}>
                                                {{ field.errors }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="fieldWrapper">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="bmd-label-floating">Description longue :</label>
                                            <textarea class="form-control" name="descriptionLongue" id="basic-url" rows="4" {% if user.userdata.type == 'Concierge' %}readonly{% endif %}>{{ machine.descriptionLongue}}</textarea>
                                        </div>
                                    </div>

                                    <small>Modalité d'utilisation de la machine :</small>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex justify-content-start">
                                            <div class="radio mr-2">
                                                <label class="{% if machine.type == 'mobile' %}text-primary{% else %}text-secondary{% endif %}">
                                                    <input type="radio" value="mobile" name="type" {% if machine.type == 'mobile' %}checked{% endif %} {% if user.userdata.type == 'Concierge' and machine.type != 'mobile' %}disabled{% endif %}> Présence non obligatoire
                                                </label>
                                            </div>
                                            <div class="radio mr-2">
                                                <label class="{% if machine.type == 'fixe' %}text-primary{% else %}text-secondary{% endif %}">
                                                    <input type="radio" value="fixe" name="type" {% if machine.type == 'fixe' %}checked{% endif %} {% if user.userdata.type == 'Concierge' and machine.type != 'fixe' %}disabled{% endif %}> Présence obligatoire
                                                </label>
                                            </div>
                                        </div>
                                        {% if user.userdata.type == 'Fabmanager' %}
                                            <div class="d-flex align-items-end">
                                                <button class="btn btn-sm btn-raised btn-success" {% if user.userdata.type == 'Concierge' %}disabled{% endif %} type="submit">Mettre à jour</button>
                                            </div>
                                        {% endif %}

                                    </div>
                                    <input type="hidden" name="next" value="{{ next }}">
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
