<!DOCTYPE html>
<html lang="en">

<body>
<p>Bonjour {{ user.first_name }},</p>


<p>Votre compte <b>Fabaccess</b> vient d'être activé.</p>

<p>Voici vos nouveaux accès</p>

<p><b>Nom d'utilisateur :</b> {{ user.username }}</p>

<p><b>Mot de passe :</b> {{ password }}</p>

<p>Merci d'utiliser nos services.</p>

<p>A bientôt !</p>


</body>
</html>