{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Option{% endblock %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <h2 class="mb-3 mt-0">Options</h2>
        <div class="row justify-content-center px-2">
            <div class="card container p-4">
                <div class="card-body px-3 pt-2 pb-2">
                    <form method="post" action="{% url 'adminpanel:option' %}">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="">Dolibarr</h5>
                            {% csrf_token %}
                            <div class="switch">
                                <label>
                                    <input type="checkbox" name="active" {% if doliactive == '1' %}checked{% endif %}>
                                    Actif
                                </label>
                            </div>
                        </div>

                        <p class="">Configurez FabAccess pour importer vos listes de membres directement depuis Dolibarr et laissez FabAccess vérifier si les cotisations sont à jour.</p>



                        <div class="form-group">
                            <label for="doliurl" class="mb-3">Url de connection à Dolibarr</label>
                            <input type="text" class="form-control " {% if doliurl != '0' %}value="{{ doliurl }}"{% else %}placeholder="Format de l'adresse : http://..../api/index.php/members"{%endif%}  class="form-control" name="doliurl" id="basic-url">

                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="mb-3">Clef API</label>
                            <input type="text" class="form-control" {% if doliclef != '0' %}value="{{ doliclef }}"{%endif%} class="form-control" name="doliclef" id="basic-url">
                        </div>

                        <div class="d-flex justify-content-end mt-4">
                            <button type="submit" value="login" class="btn btn-sm btn-raised btn-success">Enregistrer</button>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
