{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Panne en cours{% endblock %}
{% load tz %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <div class="d-flex align-items-start mb-3 mt-0">
            <h2 class=""><strong class="text-capitalize">{{ machine.nom }}</strong> - Consulter les incidents</h2>
            <a role="button" class="ml-auto btn btn-raised btn-secondary btn-sm" href="javascript:history.go(-1)">Retour</a>
        </div>
        <div class="row justify-content-center">
            <div class="card container p-4">
                <div class="card-body">
                    <p class="mb-4 text-justify">Vous pouvez modifier la déclaration d'incident. Les pannes bloquantes interdisent l'utilisation de la machine. Seul le FabManager a le droit de les allumer et de les éteindre pour effectuer les réparations. Il est aussi le seul à pouvoir déclarer une panne comme resolue.</p>
                    <div class="form-group mb-4">
                        <label for="exampleFormControlInput1">Date de début</label>
                        <input type="text" class="form-control text-center" value="{{ panne.debut|localtime }}" readonly placeholder="name@example.com">
                    </div>
                    <form method="post" action="{% url 'adminpanel:panneview' pk=machine.pk %}">
                        {% csrf_token %}
                        <div class="d-flex mb-4 border-bottom flex-wrap">
                            <label class="text-secondary">Gravité de l'incident</label>
                            <div class="ml-auto d-flex">

                                <div class="radio mr-2">
                                    <label class="{% if panne.type == 0 %}text-primary{% else %}text-secondary{% endif %}">
                                        <input type="radio" name="type" value=0 {% if panne.type == 0 %}checked{% endif %}>
                                        Non Gênant
                                    </label>
                                </div>



                                <div class="radio mr-2">
                                    <label class="{% if panne.type == 2 %}text-primary{% else %}text-secondary{% endif %}">
                                        <input type="radio" name="type" value=2 {% if panne.type == 2 %}checked{% endif %}>
                                        Bloquant
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="d-flex mb-4 border-bottom flex-wrap">
                            <label class="text-secondary">Statut de l'incident</label>
                            <div class="ml-auto d-flex">

                                <div class="radio mr-2">
                                    <label class="{% if panne.status == 'declare' %}text-primary{% else %}text-secondary{% endif %}">
                                        <input type="radio" name="status" value="declare" {% if panne.status == "declare" %}checked{% endif %}>
                                        Déclaré
                                    </label>
                                </div>

                                <div class="radio mr-2">
                                    <label class="{% if panne.status == 'confirme' %}text-primary{% else %}text-secondary{% endif %}">
                                        <input type="radio" name="status" value="confirme" {% if panne.status == "confirme" %}checked{% endif %}>
                                        Confirmé
                                    </label>
                                </div>

                                <div class="radio mr-2">
                                    <label class="{% if panne.status == 'attente' %}text-primary{% else %}text-secondary{% endif %}">
                                        <input type="radio" name="status" value="attente" {% if panne.status == "attente" %}checked{% endif %}>
                                        En Attente
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="cause">Cause</label>
                            <textarea id='cause' name="cause" class="form-control text-center" autofocus="" required="" rows="8" placeholder="Décrivez l'incident ici...">{{ panne.cause }}</textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" value="login" class="btn btn-sm btn-raised btn-success">Mettre à jour</button>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                    {% if user.userdata.type == 'Fabmanager' %}
                    <div class="d-flex flex-column align-items-end">
                        <small>L'incident est résolu ?</small>
                        <a href="{% url 'adminpanel:pannefin' pk=machine.pk %}">
                            <button type="button" value="login" class="btn btn-sm btn-raised btn-secondary">Remettre en service</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
