{% extends 'adminpanel/base.html' %}
{% load static %}
{% block title %}Stats{% endblock %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<script>
    var idmachine = {{ pk }}
</script>

<div class="row justify-content-center px-2">
    <div class="col-12">
        <div class="d-flex align-items-start mb-3 mt-0">
            <h2 class=""><strong class="text-capitalize">{{ machine }}</strong> - Statistiques</h2>
            <a role="button" class="ml-auto btn btn-raised btn-secondary btn-sm" href="javascript:history.go(-1)">Retour</a>
        </div>
        <div class="row justify-content-center px-2">
            <div class="card container p-4">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <div class="radio mr-2">
                            <label class="">
                                <input type="radio" value="week" name="active" checked> Semaine
                            </label>
                        </div>
                        <div class="radio mr-2">
                            <label class="">
                                <input type="radio" value="month" name="active"> Mois
                            </label>
                        </div>
                        <div class="radio">
                            <label class="">
                                <input type="radio" value="year" name="active"> Année
                            </label>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">

                        <div class="container">
                            <canvas id="test" class="stat-machine"></canvas>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
    <script>
        $(function() {



        function get() {
            let para = $('input[name=active]:checked').val()
            {#var baseu='http://fabaccess.openscop.tech/panel';#}
            var baseu="{{ request.scheme }}://{{ request.get_host }}{% url 'clientapp:index' %}panel";

            let url = baseu+'/teststat?para=' + para + '&machine=' + idmachine;
            console.log(url);
            var datamachine;
            var datapanne;
            $.getJSON(url, function(data) {
                datamachine=data;
                let urla = baseu+'/statp?para=' + para + '&machine=' + idmachine;
                $.getJSON(urla, function (data) {
                    datapanne=data;
                    console.log(urla);
                    var ctx = document.getElementById("test").getContext('2d');
                    var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.label,
                        datasets: [{
                            label: datamachine.leg,
                            data: datamachine.stats,
                            backgroundColor: 'rgba(141,255,88,0.2)',

                            borderColor:'rgb(47,255,91)',

                            borderWidth: 1
                        },
                            {
                            label: datapanne.leg,
                            data: datapanne.stats,
                            backgroundColor:
                                'rgba(255, 99, 132, 0.2)',

                            borderColor:
                                        'rgba(255,99,132,1)',


                            borderWidth: 1
                        }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }


                });


                });
            })
        }


        // getData();
        get();


        $('input[type=radio][name=active]').change(function() {
            get();
        })

        })
    </script>


    {% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
