{% extends 'adminpanel/base.html' %}

{% block title %}Utilisateur{% endblock %}

{% block content %}
    <div class="container">

    <h1>Create Post Page</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit New Post</button>
</form>
    </div>

{% endblock %}
