{% extends 'adminpanel/base.html' %}

{% block title %}Utilisateurs{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
{% if msg %}
<div class="container alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ msg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="row justify-content-center px-2">
    <div class="col-12">
        <div class="d-flex align-items-start mb-3 mt-0">
            <h2 class="">Profil de <strong class="text-capitalize">{{ user1.first_name }}</strong></h2>
            <a role="button" class="ml-auto btn btn-raised btn-secondary btn-sm" href="javascript:history.go(-1)">Retour</a>
        </div>
        <div class="row justify-content-center px-2">
            <div class="card container px-4 py-0">
                <div class="card-body py-0">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <form method="post" action="{% url 'adminpanel:user' pk=user1.pk %}">
                                <div class="d-flex justify-content-end align-items-center">
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" name="active" {% if userdata1.active == 1 %}checked{% endif %}>
                                            Actif
                                        </label>
                                    </div>
                                </div>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="Nom" class="bmd-label-floating">Nom</label>
                                    <input type="text" class="form-control" name="Nom" autofocus="" required="" id="Nom" value="{{ user1.last_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="Prenom" class="bmd-label-floating">Prénom</label>
                                    <input type="text" class="form-control" name="Prenom" autofocus="" required="" id="Prenom" value="{{ user1.first_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="Email" class="bmd-label-floating">Adresse mail</label>
                                    <input type="text" class="form-control" value="{{ user1.email }}" type="text" name="Email" id="Email">
                                </div>
                                <div class="form-group">
                                    <label for="Message" class="bmd-label-floating">Message</label>
                                    <input type="text" class="form-control" value="{{ userdata1.message }}" type="text" name="Message" id="Message">
                                </div>
                                <div class="form-group">
                                    <label for="Doliid" class="bmd-label-floating">Compte Dolibarr</label>
                                    <input type="text" class="form-control" value="{{ userdata1.doliid }}" type="text" name="Doliid" id="Doliid">
                                </div>

                                <div class="d-flex justify-content-sm-between flex-wrap">
                                    <div class="d-flex justify-content-start">
                                        <div class="radio mr-2">
                                            <label class="{% if userdata1.type == 'User' %}text-primary{% else %}text-secondary{% endif %}">
                                                <input type="radio" {% if userdata1.type == 'User' %}checked{% endif %}  name="Type" value="User" {% if user.userdata.type == 'Concierge' and userdata1.type != 'User' %}disabled{% endif %}>
                                                Membre
                                            </label>
                                        </div>
                                        <div class="radio mr-2">
                                            <label class="{% if userdata1.type == 'Concierge' %}text-primary{% else %}text-secondary{% endif %}">
                                                <input type="radio" {% if userdata1.type == 'Concierge' %}checked{% endif %} name="Type" value="Concierge" {% if user.userdata.type == 'Concierge' and userdata1.type != 'Concierge' %}disabled{% endif %}>
                                                Concierge
                                            </label>
                                        </div>
                                        <div class="radio mr-2">
                                            <label class="{% if userdata1.type == 'Fabmanager' %}text-primary{% else %}text-secondary{% endif %}">
                                                <input type="radio" {% if userdata1.type == 'Fabmanager' %}checked{% endif %} name="Type" value="Fabmanager" {% if user.userdata.type == 'Concierge' and userdata1.type != 'Fabmanager' %}disabled{% endif %}>
                                                Fabmanager
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end mt-2 mt-md-0 ml-auto">
                                        <button class="btn btn-sm btn-raised btn-success" type="submit">Enregistrer</button>
                                    </div>

                                </div>
                                <input type="hidden" name="next" value="{{ next }}">
                            </form>
                        </div>

                        <div class="col-md-4 align-self-stretch d-flex flex-column justify-content-center">
                            <div class="mt-4 pb-2 border-bottom">
                                <h6 class="">Badge RFID</h6>
                                <div class="form-group">
                                    {% if userdata1.tagbadge %}
                                    <!-- <label for="Badge" class="bmd-label-floating">Badge</label> -->
                                    <input type="text" class="form-control" value="{{ userdata1.tagbadge }}" aria-describedby="basic-addon3" readonly type="text" name="Badge" id="Badge">
                                    {% else %}
                                    <p class=" my-2">Vous avez besoin d'un lecteur RFID pour attribuer un badge.</p>
                                    {% endif %}
                                </div>
                                <div class="d-flex justify-content-end mt-2">
                                    <a href="{% url 'adminpanel:attentebadge' pk=user1.pk %}">
                                        {% if userdata1.tagbadge %}
                                        <button type="button" value="login" class="btn btn-sm btn-raised btn-success">Modifier</button>
                                        {% else %}
                                        <button type="button" value="login" class="btn btn-sm btn-raised btn-success">Attribuer</button>
                                        {% endif %}

                                    </a>
                                </div>
                            </div>
                            <div class="my-4">
                                <h6 class="mb-4">Habilitations</h6>
                                {% if user.userdata.type == 'Concierge' %}
                                <p class=" mb-2">Consultez les habilitations de l'utilisateur pour chaque machine.</p>
                                {% endif %}
                                {% if user.userdata.type == 'Fabmanager' %}
                                <p class=" mb-2">Modifiez les habilitations de l'utilisateur pour chaque machine.</p>
                                {% endif %}
                                <div class="d-flex justify-content-end">
                                    <a href="{% url 'adminpanel:userdroit' pk=user1.pk %}">
                                        {% if user.userdata.type == 'Concierge' %}
                                        <button type="button" value="login" class="btn btn-sm btn-raised btn-success">Consulter</button>
                                        {% endif %}
                                        {% if user.userdata.type == 'Fabmanager' %}
                                        <button type="button" value="login" class="btn btn-sm btn-raised btn-success">Modifier</button>
                                        {% endif %}
                                    </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
