{% extends 'adminpanel/base.html' %}

{% block title %}Utilisateur{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <div class="d-flex align-items-start mb-3 mt-0">
            <h2 class="">Liste des membres</h2>
            <p class="mt-2 ml-auto mr-2">Rechercher un membre</p>
            <div class="bmd-form-group bmd-collapse-inline pull-xs-left">
                <button class="btn bmd-btn-icon btn-search" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
                    <i class="material-icons">search</i>
                </button>
                <span id="collapse-search" class="collapse">
                <form class="" action="{% url 'adminpanel:search' %}" method="get">
                    <input class="form-control" name="q" type="text" id="search" placeholder=" Entrez un prénom">
                </form>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-7">
                <p class="text-justify">Les membres présents sont affichés en bleu, les membres actif en blanc et les membres inactifs en gris.
                Seuls les membres actifs sont listés par défaut. Utilisez la recherche pour trouver un membre inactif.</p>
            </div>
            <div class="col-12 col-sm-5">
                <div class="d-flex align-items-end flex-column">
                    <div class="d-flex flex-wrap justify-content-end">
                        <a id="link" style="display: block" href="{% url 'adminpanel:useradd' %}">
                            <button type="button" value="login" class="btn btn-sm btn-raised btn-success">Ajouter un membre</button>
                        </a>
                        {% if doliactive == '1' %}
                        <a id="link" style="display: block" href="{% url 'adminpanel:import' %}">
                            <button type="button" value="login" class="btn btn-sm btn-raised btn-info">Importer via Dolibarr</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if msg %}
        <div class="alert container text-center alert-success" role="alert">
            {{ msg }}
        </div>
        {% endif %}
        <div class="row mb-3">
            {% for user in users %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card mb-4 {% if doliactive == '0' %}user-card{% endif %} {% if doliactive == '1' %}doli-user-card{% endif %} {% if user.userdata.online == 1 %}logged-user-card {% endif %} {% if user.userdata.active == 0 %}bg-light{% endif %}">
                    <div class="card-body d-flex flex-column px-3 pt-3 pb-2">
                        <div class="d-flex flex-wrap">
                            <a href="{% url 'adminpanel:user' pk=user.pk%}" class="mb-2">
                                {% if user.userdata.active == 1 %}
                                <h6 class="{% if user.userdata.online == 1 %}logged-user-card {% endif %}">{{ user.first_name }}<br>{{ user.last_name }}</h6>
                                {% elif user.userdata.active == 0 %}
                                <h6 class="card-title text-muted">{{ user.first_name }}<br>{{ user.last_name }}</h6>
                                {% endif %}
                            </a>
                            {% if user.userdata.type == 'User' %}
                            <small class="ml-auto">Membre</small>
                            {% else %}
                            <small class="ml-auto">{{ user.userdata.type }}</small>
                            {% endif %}

                        </div>

                        {% if doliactive == '1' %}
                        <div class="d-flex justify-content-center mt-auto">
                            {% if user.userdata.subscription == 0 %}
                            <div class="alert container alert-secondary text-center mb-2 py-1" role="alert">
                                Non adhérent
                            </div>
                            {% elif user.userdata.subscription < now %}
                            <div class="alert container alert-warning text-center mb-2 py-1" role="alert">
                                Cotisation échue
                            </div>
                            {% elif user.userdata.subscription > now %}
                            <div class="alert container alert-success text-center mb-2 py-1" role="alert">
                                Adhérent
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-end {% if doliactive == '0' %}mt-auto{% endif %}">
                            <a class="btn btn-sm {% if user.userdata.online == 1 %}btn-logged-user{% else %} btn-unlogged-user {% endif %} btn-raised" href="{% url 'adminpanel:userstat' pk=user.pk %}">Stats</a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
