{% extends 'adminpanel/base.html' %}

{% block title %}Utilisateur{% endblock %}

{% load static %}

{% block countdown %}
<div id="timer" class="d-flex justify-content-center align-items-center rounded-circle alert alert-light text-warning my-md-3 mb-1 px-1 font-weight-bold"></div>
{% endblock %}

{% block content %}
<div class="row justify-content-center px-2">
    <div class="col-12">
        <div class="d-flex align-items-start mb-3 mt-0">
            <h2 class="">Ajouter un membre</h2>
            <a role="button" class="ml-auto btn btn-raised btn-secondary btn-sm" href="javascript:history.go(-1)">Retour</a>
        </div>
        <div class="row justify-content-center px-2">
        <div class="card container px-4 py-2">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    {% if form.subject.errors %}
                    <ul>
                        {% for error in form.subject.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% for field in form %}
                    <div class="fieldWrapper">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">{{ field.label_tag }}</label>
                            <input type="{{ field.field.widget.input_type }}" class="form-control text-center" autofocus="" required="" name="{{ field.html_name }}">
                            <small class="form-error">{{ field.errors }}</small>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="d-flex justify-content-end mt-4">
                        <button class="btn btn-sm btn-raised btn-success" type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}

{% block countdownscript %}
<script type="text/javascript">
    var duree_timer = '{{duree_timer}}';
    var redirection_timer = '{{redirection_timer}}';
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
